@{
    ViewBag.Title = "Home Page";
}
<h1>School Admin</h1>

<a href="@Url.Action(MVC.Employee.Index())">AllEmployees</a>  |
<a href="@Url.Action(MVC.Employee.Create())">Add new employee</a>
</br>
<a href="@Url.Action(MVC.Subject.Index())">All subjects</a>