<h2>All employees</h2>
<div id="dataModel"></div>

<p>
        @Html.ActionLink("Create New", MVC.Employee.ActionNames.Create)
</p>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/EmployeeUpdate.js"></script>
}