@model IEnumerable<ItAcademy.SchoolAdmin.Web.Models.SubjectViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="/@MVC.Subject.Name/@MVC.Subject.ActionNames.Edit/@item.Id">Edit  |</a>
            <a href="/@MVC.Teacher.Name/@MVC.Teacher.ActionNames.EditEmployee/@item.Id">Set Teacher  |</a>
            <a href="/@MVC.Subject.Name/@MVC.Subject.ActionNames.Delete/@item.Id">Delete  |</a>
        </td>
    </tr>
}

</table>
